

@model Youtube2.ViewModels.VideosVM

@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@*<link rel="stylesheet" type="text/css" href="Style.css">*@
<link rel="shortcut icon" href="~/img/LogoTitlu.png" />
<link rel="shortcut icon" href="~/img/profile.jpg" />
<link rel="stylesheet" href="~/css/Style.css" />

<div>
    <div style="background-color:black;">
        <img src="~/img/LogoTitlu.png" width="40" height="40">
        <font id="f1">You</font><font id="f2">Tube</font>
                                <div class="sidebar w3-bar-block border-right" style="display:none" id="mySidebar">
                                    <button onclick="w3_close()" class="btn"><i class="fa fa-times-circle"></i> Close</button>
                                    <form class="form-inline" asp-area="" asp-controller="Home" asp-action="Index">
                                        <button type="submit" class="btn"><i class="fa fa-home"></i> Home </button>
                                    </form>
                                    <form class="form-inline" asp-area="" asp-controller="Home" asp-action="Tranding">
                                        <button type="submit" class="btn"><i class="fa fa-home"></i> Tranding </button>
                                    </form>
                                    @if (this.User.IsInRole("User"))
                                    {
                                        <form class="form-inline" asp-area="" asp-controller="Home" asp-action="Subscription">
                                            <button type="submit" class="btn"><i class="fa fa-home"></i> Subscription </button>
                                        </form>
                                        <form class="form-inline" asp-area="" asp-controller="Home" asp-action="Profile">
                                            <button type="submit" class="btn"><i class="fa fa-home"></i> Profile </button>
                                        </form>

                                    }
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <form class="form-inline" asp-area="" asp-controller="Profiles" asp-action="Index">
                                            <button type="submit" class="btn"><i class="fa fa-home"></i> Manage Profiles </button>
                                        </form>
                                        <form class="form-inline" asp-area="" asp-controller="Videos" asp-action="Index">
                                            <button type="submit" class="btn"><i class="fa fa-home"></i> Manage Videos </button>
                                        </form>
                                    }
                                </div>


        <div class="teal">
            <button class="w3-button teal w3-xlarge" onclick="w3_open()">☰</button>
        </div>

        <div>
            <h1><u> Tranding </u></h1>
        </div>
        @foreach (var item in Model.videos) { 
            <div class="rand">
                <iframe id="video" width="300" height="169" src=@item.Video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div>
                    <font class="trText"> #Fire </font>
                    <br>
                    <br>
                    <br>
                </div>

            </div>                          
        }
        
    </div>
</div>

<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>
